body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  nav {
    float: right;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    color: #000;
  }
  
  nav a:hover {
    background-color: #ccc;
  }
  
  main {
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  